{% if page.comments != false %}
  {% case site.comments_provider %}
    {% when 'gitment' %}
        <div id="container"></div>
        <link rel="stylesheet" href="{{ site.url }}/css/gitment.min.css">
        <script src="{{ site.url }}/js/gitment.min.js"></script>
        <script>
        let gitment = new Gitment({
            id: '{{ page.url }}',
            owner: '{{ site.gitment.owner }}',
            repo: '{{ site.gitment.repo }}',
            oauth: {
                client_id: '{{ site.gitment.oauth.client_id }}',
                client_secret: '{{ site.gitment.oauth.client_secret }}',
            },
        });
        gitment.render('container')
        </script>
    {% when 'disqus' %}
        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
                this.page.url = '{{ site.url }}{{ page.url }}';
                this.page.identifier = '{{ page.url }}';
                this.page.title = '{{ page.title }}'
            };
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://sora233.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endcase %}
{% endif %}
